<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Guest Books</h1>
  </div>
</div>

<div class="show-weddings container">
  <div class="row">
    <div class="col-lg-4 col-sm-6 col-12">
    <% weddings.forEach((wedding) => { %>
      <div class="eachWedding"
        <a href="/weddings/<%= `${wedding.id}` %>"><h3>The Wedding of <%= wedding.partner1 %> &  <%= wedding.partner2 %></h3></a>
        <img src="<%= wedding.imageMain %>" alt="<%= wedding.partner1 %> &  <%= wedding.partner2 %>"
      </div>
      </div>
      <% }) %>
    </div>
  </div>
