<h1>Weddings Index</h1>

<div class="show-weddings container">
  <div class="row">
    <% weddings.forEach((wedding) => { %>
      <div class="col-lg-4 col-sm-6 col-12">
        <a href="/weddings/<%= `${wedding.id}` %>"><h3>The Wedding of <%= wedding.partner1 %> &  <%= wedding.partner2 %></h3></a>
        <img src="<%= wedding.imageMain %>" alt="<%= wedding.partner1 %> &  <%= wedding.partner2 %>"
      </div>
      <% }) %>
    </div>
  </div>
