<h1>Show Wedding</h1>

<%= wedding %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">The Wedding of <%= wedding.partner1 %> &  <%= wedding.partner2 %></h1>
  </div>
</div>

<img src="<%= wedding.imageMain %>" alt="The happy couple">

<h2><%= wedding.date %>,<%= wedding.venue %></h2>

<a href="/questions/new"><h3>Create a new question</h3></a>
<a href="/answers/new"><h3>Submit a new answer</h3></a>

<a href="/weddings/edit"><h4>Edit this Wedding</h4></a>
<a href="/weddings/delete"><h4>Delete this wedding</h4></a>
