<h1>User Profile</h1>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= user.firstName %> <%= user.lastName %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm">
    
    </div>
  </div>
</div>

<img src="<%= `${user.image}` %>" alt="User image">


<form class="form-inline">
<label class="sr-only" for="search-guest">Enter Guest Book RSVP code here</label>
<input type="text" class="form-control mb-2 mr-sm-2" id="ref" placeholder="RSVP ref" name="ref">
<button type="submit" class="btn btn-primary mb-2"><a href="/weddings/index">View Guest Books</a></button>
</form>

(If User has created a GuestBook show it here)
(Show all Books that user id appears in here)


<a href="<%= `${user.id}` %>/edit"><h4>Edit Your Profile</h4></a>
<a href="<%= `${user.id}` %>/delete"><h4>Delete Your Profile</h4></a>
<a href="/weddings/new"><h4>Create a new Guest Book</h4></a>
